<fdp-dynamic-page>
    <fdp-dynamic-page-title title="Evaluación N° 1">

        <fdp-dynamic-page-global-actions>
            <fd-toolbar fdType="transparent" [clearBorder]="true">
                <button fd-toolbar-item fd-button fdCompact fdType="standard" label="Nueva Evaluación" title="Nueva Evaluación"></button>
            </fd-toolbar>
        </fdp-dynamic-page-global-actions>

    </fdp-dynamic-page-title>
    <fdp-dynamic-page-header [collapsible]="true" [pinnable]="false" [collapsed]="false">
        <app-formulario></app-formulario>
    </fdp-dynamic-page-header>
    <fdp-dynamic-page-content tabLabel="Pre filtro" id="tab_1">
        <app-tabla></app-tabla>
    </fdp-dynamic-page-content>
    <fdp-dynamic-page-content tabLabel="Evaluación Crediticia" id="tab_2">
        <!-- page content goes here -->
        tabs 2 Lorem ipsum dolor sasdasit amet consectetur adipisicing elit. Reprehenderit sunt laboriosam totam
        maiores. Unde quas quis soluta adipisci mollitia distinctio. Natus nam repellat, aut ad et tempore cum.
        Corporis, nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ad provident
        similique, voluptatibus obcaecati perferendis excepturi.
    </fdp-dynamic-page-content>
    <fdp-dynamic-page-content tabLabel="Propuesta" id="tab_3">
        <!-- page content goes here -->
        tabs 2 Lorem ipsum dolor sasdasit amet consectetur adipisicing elit. Reprehenderit sunt laboriosam totam
        maiores. Unde quas quis soluta adipisci mollitia distinctio. Natus nam repellat, aut ad et tempore cum.
        Corporis, nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ad provident
        similique, voluptatibus obcaecati perferendis excepturi.
    </fdp-dynamic-page-content>

    <fdp-dynamic-page-footer>
        <!-- page footer content goes here -->
        <div fd-bar barDesign="floating-footer">
            <div fd-bar-right>
                <fd-button-bar label="Guardar" fdType="emphasized"></fd-button-bar>
                <fd-button-bar label="Cancelar"></fd-button-bar>
            </div>
        </div>
    </fdp-dynamic-page-footer>
</fdp-dynamic-page>