html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
    color: var(--sapTextColor);
}

a {
    color: var(--sapLinkColor);
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--sapBackgroundColor);
}

.fd-select-custom-class{
    min-width: 100%;
}

.fd-tabs__tag{
    &::before{
        display: none;
    }
}
